fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
alembic==1.12.1
pydantic==2.5.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
pandas==2.1.3
matplotlib==3.8.2
seaborn==0.13.0
reportlab==4.0.7
openpyxl==3.1.2
python-dotenv==1.0.0
httpx==0.25.2
email-validator==2.1.0
jinja2==3.1.2
aiofiles==23.2.1
pillow==10.1.0
apscheduler==3.10.4
#smtplib-ssl
secure-smtplib==0.1.1
pydantic-settings==2.5.0
passlib[argon2]==1.7.4